.factory {
  width: 200px;
  height: 200px;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.letter-input {
  text-align: center;
}
