.factory {
  border: 10px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.letter-input {
  font-size: 7vw;
  min-width: 0;
}

.factory-button {
  font-size: 3vw;
  white-space: normal;
}
